.container {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid black;
  width: 500px;
  min-height: 500px;
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: dark;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
.messages-container {
  display: flex;
  width: 500px;
  margin: 0px;
  padding: 0px;
  flex-direction: column;


}

.eliza-messages {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}


.eliza-message {
  list-style: none;
  border-radius: 20px;
   padding: 5px 10px;
   margin: 1rem;
  overflow: hidden;
 background-color:#1982FC;
  color: white;

}

.userMessages { 
 display: flex;
 justify-content: flex-start;
align-items: flex-start;
   margin: 1rem;
}

.userMessage {
  list-style: none;
  border-radius: 20px;
  padding: 5px 10px;
  overflow: hidden;
  background-color:gray;
  color: black;
}



.user-input-container{
  display: flex;
  justify-content: flex-end;
  margin-bottom: 100px;
}

.header {
  justify-content: center;
  display: flex;
  font-size: 3rem;
  margin: 1rem;
}

.text-input {
  width: 70%;
  border-radius: 20px;
  padding: 10px;
  border: 1px solid white;
}

.app-background {
height: 100vh;
 width: 100vw;
background-color: #242424;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-message-card {
overflow: auto
};

